* {
	box-sizing: border-box;
}

body {
  background-color: #eee !important;
  color: #5f5f5f  !important;
  display: flex;
  flex-direction: column;
  font-family: 'Questrial', serif !important;
  min-height: 100vh;

  ul {
  	list-style: none;
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 20px;
    text-align: center;
  }

  h4 {
  	margin: 0;
  	color: #000303;
  }

  p {
  	font-size: 14px;
  }

  button,
  .btn {
    background-color: #2b9280 !important;
    display: block;
    margin-top: 20px !important;
    margin: 10px 0px !important;
    padding: 6px 50px;

		&.btn-default {
      padding: 6px 30px;
      margin-top: 40px !important;
		}
	}
}

.main-wrapper {
  display: inline-block;
  flex: 1 1 auto;
  margin-bottom: 35px;
  margin-left: 40px;
  padding: 15px 20px 0 80px;
  text-align: left;
  width: 960px;
  width: auto;

	.col-1 {
		display: inline-block;
		transition: color 1.5s ease-in-out;
	}
}

sendinfo {
  display:flex;
}

.header {
    background-color: #2b9280;
    color: #fff;
    display: block;
    width: 100%;
}

.form-description {
  border-bottom: 1px solid #2b9280;
  margin-top: 15px;
  max-width: 940px;
  margin-bottom: 10px;
  padding-bottom: 10px;

  + label {
      max-width: 70%;
  }
}

.step1 {

  max-width: 470px;

	select,
	input {
		display: block;
	}
}

.results {
  color: black;
  display: inline-block;
  height: 100%;
  max-width: 400px;
  padding-left: 20px;
  text-align: left;

    .description {
    	margin: 10px 0;
    }
}

#myChart {
  display: inline-block;
  height: 340px;
  margin-left: 20px;
  width: 400px;
  transition: opacity 2s ease-in-out;

    &.hidechart {
        opacity: 0;
    }
}

.local,
.time,
.hydric,
.water {
  color: black;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: left;

	p {
		display: inline-block;
	}
}

.step1 .form-control {
  min-width: 165px;
  text-align: left;
  width: auto;
}

.cidade {
	margin-top: 10px;
	input {
		max-width: 164px;
	}	
}

.step1 label {
  display: block;
  text-align: left;
  font-size: 12px;
  padding-top: 10px;
}

.step2 {
  display: inline-block;
  height: auto;
  min-width: 470px;
  position: relative;

}

#diainicial,
#diafinal,
#startmonth,
#endmonth {
  max-width: 165px;
  width: 100%;
}


.footer {
  background-color: #2b9280;
  color: #fff;
  display: block;
  height: auto;
  line-height: 63px;
  text-align: center;
  width: 100%;

  p {
    display: inline;
  }
}