* {
	box-sizing: border-box;
}

body {
  background-color: #eee !important;
  color: #5f5f5f  !important;

  ul {
  	list-style: none;
  }

  h2 {
  	padding: 20px 0;
  }

  p {
  	font-size: 14px;
  }
}

.main-wrapper {
	width: auto;
	margin: 0 auto;
	text-align: center;
	padding: 30px 50px;
    padding-bottom: 0;
    max-width: 940px;

	.col-1 {
		display: inline-block;
		transition: color 1.5s ease-in-out;
	}
}

.step1 {
	select,
	input {
		display: block;
	}
}

.results {
	background-color: #eee;
	color: black;
    text-align: left;
    float: left;
    display: inline-block;
    padding-left: 20px;
    min-width: 300px;
    height: 340px;
    border: 3px solid #333;

	button {
		display: block;
		margin-bottom: 10px;
	}
}

#myChart {
	display: inline-block;
	margin-left: 20px;
	width: 400px;
	height: 340px;
    transition: opacity 2s ease-in-out;

    &.hidechart {
        opacity: 0;
    }
}

.local,
.time,
.hydric {
	//background-color: #009966;
	color: black;
    //opacity: .7;
	margin: 10px;
	padding: 10px;
	display: block;
	text-align: left;

	p {
		display: inline-block;
	}
}

.step1 .form-control {
	width: auto;
	text-align: left;
}

.cidade {
	margin-top: 10px;
	input {
		max-width: 164px;
	}	
}

.step1 label {
	display: block;
    padding-top: 10px;
	text-align: left;
    font-size: 12px;
}

#diainicial,
#diafinal {
	width: 100%;
	max-width: 143px;
}