* {
	box-sizing: border-box;
}

body {
  background-color: #eee !important;
  color: #5f5f5f  !important;
  display: flex;
  flex-direction: column;
  font-family: 'Questrial', serif !important;
  min-height: 100vh;

  ul {
  	list-style: none;
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 20px;
    text-align: center;
  }

  h4 {
  	margin: 0;
  	color: #000303;
  }

  p {
  	font-size: 14px;
  }

  button,
  .btn {
    background-color: #2b9280 !important;
    display: block;
    margin-top: 20px !important;
    margin: 10px 0px !important;
    padding: 6px 50px;

		&.btn-default {
      padding: 6px 30px;
      margin-top: 40px !important;
		}
	}
}

.main-wrapper {
  display: flex;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  margin-bottom: 35px;
  margin-left: 40px;
  padding: 15px 20px 0 80px;
  text-align: left;
  max-width: 960px;

	.col-1 {
		display: inline-block;
		transition: color 1.5s ease-in-out;
	}

  @media (max-width: 600px) {
    flex-direction: column;
  }

  @media (max-width: 480px) {
    padding: 10px 20px 0;
    margin-left: 0;
  }
}

sendinfo {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  max-width: 440px;
}

.header {
    background-color: #2b9280;
    color: #fff;
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.form-description {
  border-bottom: 1px solid #2b9280;
  margin-top: 35px;
  max-width: 940px;
  margin-bottom: 10px;
  padding-bottom: 10px;

  + label {
      max-width: 70%;
      margin-bottom: 10px;
  }
}

#first-descript {
  margin-top: 0;
}

.step1 {

  max-width: 470px;

	select,
	input {
		display: block;
	}
}

.results {
  color: black;
  display: inline-block;
  flex: 0 1 auto;
  width: 50%;
  padding-left: 20px;
  text-align: left;

    .description {
    	margin: 10px 0;
    }
}

#myChart {
  background-image: url('../assets/chappie.jpg');
  background-size: cover;
  background-position: center;
  flex: 0 1 auto;
  height: 340px;
  width: 400px;
  transition: opacity 2s ease-in-out;

    &.hidechart {
        display: none;
    }

  @media (max-width: 480px) {
    width: 260px !important;
    height: 260px !important;

    margin-top: 15px;
  }

}

.local,
.time,
.hydric,
.water {
  color: black;
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: left;

	p {
		display: inline-block;
	}
}

.step1 .form-control {
  min-width: 165px;
  text-align: left;
  width: auto;
}

.cidade {
	margin-top: 10px;
	input {
		max-width: 164px;
	}	
}

.step1 label {
  display: block;
  text-align: left;
  font-size: 12px;
  padding-top: 10px;
}

.step2 {
  display: inline-block;
  height: auto;
  min-width: 470px;
  position: relative;

}

#diainicial,
#diafinal,
#startmonth,
#endmonth {
  max-width: 165px;
  width: 100%;
}


.footer {
  background-color: #2b9280;
  color: #fff;
  display: block;
  line-height: 63px;
  text-align: center;
  width: 100%;
  white-space: nowrap;

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    display: inline;

    @media (max-width: 420px) {
      font-size: 12px;
    }
  }

}


// Loading animations
/*
Created by Codrops

http://www.codrops.com

Read more here: http://tympanus.net/codrops/licensing/

Icon Set:  Font Awesome -- http://fortawesome.github.com/Font-Awesome/
License:  SIL -- http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL


Icon Set: Eco Ico -- http://dribbble.com/shots/665585-Eco-Ico
License:  CC0 -- http://creativecommons.org/publicdomain/zero/1.0/

*/

/* Effect 5: 3d bar bottom */
.la-anim-5 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 12px;
  background: #ed4e6e;
  -webkit-transform: translate3d(-103%, 0, 0);
  transform: translate3d(-103%, 0, 0);
  pointer-events: none;
}

.la-anim-5::before,
.la-anim-5::after {
  position: absolute;
  content: '';
}

.la-anim-5::before {
  bottom: 100%;
  left: -10%;
  width: 110%;
  height: 6px;
  background: #fb738f;
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.la-anim-5::after {
  top: 0;
  left: 100%;
  width: 6px;
  height: 100%;
  background: #d23d5b;
  -webkit-transform: skew(0,-45deg);
  transform: skew(0,-45deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.la-anim-5.la-animate {
  bottom: -20px;
  z-index: 100;
  -webkit-transition: -webkit-transform 5s ease-in, bottom 0.3s 5.7s;
  transition: transform 5s ease-in, bottom 0.3s 5.7s;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}